
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<style>
    ::selection {
        background: #900000; /* WebKit/Blink Browsers */
        color: #FDFDFD;
    }
    ::-moz-selection {
        background: #900000; /* Gecko Browsers */
        color: #FDFDFD;
    }
    html, body, div, h1, h2, h3, h4, h5, a, span {
        font-family: 'Open Sans', sans-serif !important;
        font-weight: bold;
        /* color: #181A18; */
    }
    a {
        color: #b00000;
    }
    .brand-title:hover {
        text-decoration: none;
        text-shadow: none;
    }
    .sidebar {
        min-width:15%;
        width:18%;
        background-image: none !important;
        background-color: #800000;
        box-shadow: 8px -4px 8px 0 rgb(0 0 0 / 20%);
        text-shadow: none;
    }
    div.sidebar, .sidebar header {
        text-shadow: none;
    }
    div.content article, div.content main {
        color: #181A18;
    }
    body {
        background-color: #F4F4F4;
    }
    .footer {
        display: none;
    }
    .page h1, .page h2, .page h3, .page h4, .page h5, .page h6, .post h1, .post h2, .post h3, .post h4, .page {
        color: #181A18 !important;
    }
    .sidebar header::after {    
        content: "© 2021 - Shawn Bernard";
        font-size: small;
        text-shadow: none
    }
    code {
        color: #fdfdfd;
        border-radius: 0;
    }
</style>